apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: wordpress
  name: wordpress-demo
  namespace: wordpress
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
      - env:
        - name: WORDPRESS_DB_PASSWORD
          value: wordpress
        image: us.gcr.io/kubernetes-sbk/wordpress
        imagePullPolicy: Always
        name: wordpress
        ports:
        - containerPort: 8081
          protocol: TCP
